$theme-colors: (
  "dark": #333333,
  "primary": #f7941d,
);

@import "../node_modules/bootstrap/scss/bootstrap";
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins/_breakpoints";

body {
  font-family: "raleway";
  margin: 0;
  background-color: #7f5a83;
  background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.home {
  width: 100%;

  margin-bottom: 100px;
}

.nav-transation {
  transition: all 200ms;
  text-align: center;
  .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 1);
    font-size: 18px;
    font-weight: normal;
    border-bottom: 3px solid transparent;
  }
  .navbar-nav .nav-link:hover {
    color: rgba(255, 255, 255, 1);
    font-size: 18px;
    font-weight: normal;
    border-bottom: 3px solid #f7941d;
    transition: all 200ms ease;
    cursor: pointer;
  }

  .navbar-brand {
    font-weight: bold;
    font-size: 32px;
  }
}

.hero-text1 {
  font-size: 48px;
  font-weight: 900;
  margin-top: 100px;
  color: rgba(255, 255, 255, 1);
}
.hero-text2 {
  // font-size: 52px;
  // font-weight: 900;
  color: rgba(255, 255, 255, 0.5);
}
.hero-button {
  color: #fff;
  font-weight: 400;
  border-radius: 0%;
  &:hover {
    color: #fff;
    background-color: transparent;
    border: 1px solid #f7941d;
  }
}

.card-img-custom {
  padding: 5px;
  background-color: #0d324d;
  border-radius: 100px;
  width: 4em;
  height: 4em;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  align-self: center;
}

.client-card {
  border: 1px solid #c4c7cb;
  border: 0px;
  display: flex;
  border-radius: 0px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.clients-comp {
  background-color: #f9f9f9;
  padding: 150px;
  padding-top: 40px;
  padding-bottom: 40px;
}
@include media-breakpoint-down(sm) {
  // Styles
  .clients-comp {
    padding: 10px;
    h2 {
      margin-top: 30px;
    }
  }
}

.p-form {
  padding: 100px;
}

.submit-btn {
  color: #fff;
  width: 100px;
  font-weight: 400;
  border-radius: 0%;
  &:hover {
    color: #f7941d;
    background-color: transparent;
    border: 1px solid #f7941d;
  }
}

.secondRow {
  background-color: #f0f0f0;
}

.line {
  height: 4px;
  background-color: #cb6485;
  width: 41px;
}

.footer-text {
  line-height: 1.5rem;
}
.footer-quick-links {
  list-style-type: none;

  padding-left: 0px;
  li {
    line-height: 2.5rem;
    font-weight: 500;
    text-decoration: none;
    a {
      text-decoration: none;
      color: #fff;
      &:hover {
        cursor: pointer;
        transition: all ease 200ms;
        color: #f7941d;
      }
    }
  }
}

.footer-social {
  width: 50%;
  svg:hover {
    color: #f7941d;
    cursor: pointer;
    transition: all ease 200ms;
  }
}

@include media-breakpoint-down(sm) {
  .footer-social {
    width: auto;
    margin-top: 1em;
    margin-bottom: 1em;
  }
}

.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #0d324d;
  opacity: 0.95;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  border: 2px solid #f7941d;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    color: #fff;
  }
}

.my-float {
  &:hover {
    color: #fff;
  }
}

.projects-btn {
  border-radius: 0px;
  width: 200px;
  &:hover {
    color: #fff;
  }
}

.project-card {
  position: relative;
  border: 3px solid transparent;
  div:nth-child(2) {
    position: absolute;
    width: 100%;
    background-color: rgba($color: #000000, $alpha: 0.6);
    color: #fff;
    bottom: 0px;
  }
  &:hover {
    border: 3px solid #0d324d;
    transition: all ease 200ms;
    cursor: pointer;
  }
}
